Projet Septembre 2022

In [2]:
#import des differents packs dont j'aurais besoin lors du projet
import numpy as np #import Numpy
import pandas as pd #import pandas
import sqlite3 #import sql
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_theme()

In [3]:
df=pd.read_csv('population.csv')

C:\Users\J21544\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df.head()

  NIVGEO CODGEO                   LIBGEO  MOCO  AGEQ80_17  SEXE  NB
0    COM   1001  L'Abergement-Clémenciat    11          0     1  15
1    COM   1001  L'Abergement-Clémenciat    11          0     2  15
2    COM   1001  L'Abergement-Clémenciat    11          5     1  20
3    COM   1001  L'Abergement-Clémenciat    11          5     2  20
4    COM   1001  L'Abergement-Clémenciat    11         10     1  20

In [4]:
df.describe

<bound method NDFrame.describe of         NIVGEO CODGEO                   LIBGEO  MOCO  AGEQ80_17  SEXE  NB
0          COM   1001  L'Abergement-Clémenciat    11          0     1  15
1          COM   1001  L'Abergement-Clémenciat    11          0     2  15
2          COM   1001  L'Abergement-Clémenciat    11          5     1  20
3          COM   1001  L'Abergement-Clémenciat    11          5     2  20
4          COM   1001  L'Abergement-Clémenciat    11         10     1  20
...        ...    ...                      ...   ...        ...   ...  ..
8536579    COM  97424                   Cilaos    32         70     2  34
8536580    COM  97424                   Cilaos    32         75     1   8
8536581    COM  97424                   Cilaos    32         75     2  42
8536582    COM  97424                   Cilaos    32         80     1   0
8536583    COM  97424                   Cilaos    32         80     2  21

[8536584 rows x 7 columns]>

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8536584 entries, 0 to 8536583
Data columns (total 7 columns):
 #   Column     Dtype
---  ------     -----
 0   NIVGEO     object
 1   CODGEO     object
 2   LIBGEO     object
 3   MOCO       int64
 4   AGEQ80_17  int64
 5   SEXE       int64
 6   NB         int64
dtypes: int64(4), object(3)
memory usage: 455.9+ MB

In [6]:
#recherche des valeurs manquantes dans l'ensemble du dataframe
print(df.isna().sum(),'\n')

NIVGEO       0
CODGEO       0
LIBGEO       0
MOCO         0
AGEQ80_17    0
SEXE         0
NB           0
dtype: int64